.straightprint{
    margin-top: 8rem;
    font-size: 2.2em;
    font-weight: 800;
    margin-left: -5rem;
}
.straight_pic{
    width: 47rem;
    height: 21rem;
    margin-top: 7rem;
    margin-left: 1rem;
}
.straight_sml{
    margin-left: -5rem;
    font-size: x-small;
}
.Straight_button{
    height: 3rem;
    width: 15em;
    margin-top: 2em;
    margin-left: -5em;
    border-radius: 0.2em;
}
p{
    margin-left: -5rem;
}