.footer {
  margin-top: 8rem;
  margin-left: 15rem;
}
h6 {
  font-weight: 800;
  margin-left: -5rem;
}
.fe {
  margin-left: -5rem;
  margin-top: -0.9rem;
 
}
.twi {
  margin-left: 1.5rem;
  margin-top: -1rem;
}
.store {
    padding-left: 43rem;
    margin-top: -5rem;
}
.spot{
  margin-left: 53rem;
  margin-top: -8rem;
}
.all{
  margin-top: 5rem;
}
#private{
  margin-top: -3rem;
}
#note{
  margin-left: 5rem;
  margin-top: -2.4rem;
}
#term{
  margin-left: 19rem;
  margin-top: -2.4rem;
}
#access{
  margin-left: 31rem;
  margin-top: -2.4rem;
}
.mmmm{
  width: 2rem;
  margin-left: 45rem;
  margin-top: -4.8rem;
}
#reserve{
  margin-left: 50rem;
  margin-top: -4rem;
}
span{
  margin-left: 12.8rem;
}
#info{
  margin-top: -4rem;
}
#cooky{
  margin-left: 19rem;
  margin-top: -2.3rem;
}
hr{
  width: 90rem;
 margin-left: -15rem;
}