.Donalds_Bur{
    width: 47rem;
    height: 21.3rem;
    margin-top: 7rem;
    margin-left: 1rem;
}
.Donalds_prin{
    margin-top: 8rem;
    font-size: 2.2em;
    font-weight: 800;
    margin-left: -5rem;
}
.Donalds_buton{
    height: 3rem;
    width: 10.5em;
    margin-top: 1.5em;
    margin-left: -5em;
    border-radius: 0.2em;
}
p{
    margin-left: -5rem;
    font-size: 1rem;
}