.straightprint{
  margin-top: 8rem;
  font-size: 2.2em;
  font-weight: 800;
  margin-left: -5rem;
}
.straight_pic{
  width: 47rem;
  height: 21rem;
  margin-top: 7rem;
  margin-left: 1rem;
}
.straight_sml{
  margin-left: -5rem;
  font-size: x-small;
}
.Straight_button{
  height: 3rem;
  width: 15em;
  margin-top: 2em;
  margin-left: -5em;
  border-radius: 0.2em;
}
p{
  margin-left: -5rem;
}

.Fries_Bur{
  width: 45rem;
  height: 21rem;
  margin-top: 7rem;
  margin-left: 3rem;
}
.Fries_print{
  margin-top: 8rem;
  font-size: 2.2em;
  font-weight: 800;
  margin-left: -5rem;
}
.Fries_sml{
  margin-left: -5rem;
  font-size: x-small;
}
.Fries_buton{
  height: 3rem;
  width: 10.6em;
  margin-top: 1.5em;
  margin-left: -5em;
  border-radius: 0.2em;
}
p{
  margin-left: -5rem;
}

.Story_Bur{
  width: 45rem;
  height: 21rem;
  margin-top: 7rem;
  margin-left: 3rem;
}
.Story_print{
  margin-top: 8rem;
  font-size: 2.2em;
  font-weight: 800;
  margin-left: -5rem;
}
.span{
  font-weight: 800;
}
.Story_bton{
  height: 3em;
  width: 20em;
  margin-top: 2em;
  margin-left: -5em;
  border-radius: 0.3em;
}
p{
  margin-left: -5rem;
}

.Donalds_Bur{
  width: 47rem;
  height: 21.3rem;
  margin-top: 7rem;
  margin-left: 1rem;
}
.Donalds_prin{
  margin-top: 8rem;
  font-size: 2.2em;
  font-weight: 800;
  margin-left: -5rem;
}
.Donalds_buton{
  height: 3rem;
  width: 10.5em;
  margin-top: 1.5em;
  margin-left: -5em;
  border-radius: 0.2em;
}
p{
  margin-left: -5rem;
  font-size: 1rem;
}

.Order_Bur{
  width: 45rem;
  height: 20rem;
  margin-top: 7rem;
  margin-left: 3rem;
}
.Order_print{
  margin-top: 8rem;
  font-size: 2.2em;
  font-weight: 800;
  margin-left: -5rem;
}
.Order_sml{
  margin-left: -5rem;
  font-size: x-small;
}
.butom{
  width: 13em;
  height: 3em;
  margin-left: -5em;
  border-radius: 0.2em;
  margin-top: 2em;
}
p{
  margin-left: -5rem;
}

.Deals_Bur{
  width: 45rem;
  height: 20rem;
  margin-top: 7rem;
  margin-left: 3rem;
}
.Deals_print{
  margin-top: 8rem;
  font-size: 2.2em;
  font-weight: 800;
  margin-left: -5rem;
}
.Deals_sml{
  margin-left: -5rem;
  font-size: x-small;
}
p{
  margin-left: -5rem;
}
.Deals_butom{
  height: 3rem;
  width: 10.6em;
  margin-top: 1.5em;
  margin-left: -5em;
  border-radius: 0.2em;
}

.footer {
  margin-top: 8rem;
  margin-left: 15rem;
}
h6 {
  font-weight: 800;
  margin-left: -5rem;
}
.fe {
  margin-left: -5rem;
  margin-top: -0.9rem;
 
}
.twi {
  margin-left: 1.5rem;
  margin-top: -1rem;
}
.store {
    padding-left: 43rem;
    margin-top: -5rem;
}
.spot{
  margin-left: 53rem;
  margin-top: -8rem;
}
.all{
  margin-top: 5rem;
}
#private{
  margin-top: -3rem;
}
#note{
  margin-left: 5rem;
  margin-top: -2.4rem;
}
#term{
  margin-left: 19rem;
  margin-top: -2.4rem;
}
#access{
  margin-left: 31rem;
  margin-top: -2.4rem;
}
.mmmm{
  width: 2rem;
  margin-left: 45rem;
  margin-top: -4.8rem;
}
#reserve{
  margin-left: 50rem;
  margin-top: -4rem;
}
span{
  margin-left: 12.8rem;
}
#info{
  margin-top: -4rem;
}
#cooky{
  margin-left: 19rem;
  margin-top: -2.3rem;
}
hr{
  width: 90rem;
 margin-left: -15rem;
}

.fom{
  margin-left: 17rem;
  width: 60rem;
}
.pa{
  margin-left: 17rem;
  margin-top: 3rem;
  font-weight: 500;
}
.mb-3{
  border: 0px 0px 1px 0px ;
}